body {
    background-color: #ffdab9;   
}

.list-home {
    text-align: center;
    list-style-type: none;
    font-size: 22px;
    padding-right: 24px
}
ul li {
    padding-top: 5px;
    
}

li a {
    text-decoration: none;
    color:rgb(205, 133, 63);
}
li a:hover {
    font-style:italic;
    color:rgb(141, 90, 40);
    
}

.title {
    text-align: center;
    color:rgb(141, 90, 40);
}

img {
    height: auto;
    width: 300px;
    border-radius: 5px;
}